alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
alias art='sail artisan'
alias sailinit='docker run --rm \
    -u "$(id -u):$(id -g)" \
    -v $(pwd):/var/www/html \
    -w /var/www/html \
    laravelsail/php80-composer:latest \
    '
alias dcomposer='docker run --rm \
    -u "$(id -u):$(id -g)" \
    -v $(pwd):/var/www/html \
    -w /var/www/html \
    composer:latest \
    composer '
alias cd..='cd ..'
alias urldecode='sed "s@+@ @g;s@%@\\x@g" | xargs -0 printf "%b"'
alias checkports="sudo lsof -i -P -n | grep LISTEN"
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias ng=nginx
alias dri="docker run --rm -it -v $(pwd):/app "
alias dcl="docker container list"
